## Copyright (C) 2007 Alex Drummond <a.d.drummond@gmail.com>
##
## This program is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2
## of the License, or (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin Street, Fifth Floor,
## Boston, MA  02110-1301, USA.

#import urllib
#import my_utils
#import links
#from templates.base import base

#extends base

#def title#Category $category#end def#

#def np_preamble#Articles in category &lsquo;$category&rsquo;#end def#
#def np_postamble#:#end def#
#def np_empty#There are currently no articles in category &lsquo;$category&rsquo;#end def#

#def body
    $next_and_prev_links($from_, $n, lambda x, y: links.category_link(self.getVar('category'), x, y))

    #if $max >= $from_
    <ul class="article-list">
        #for $title in $article_titles
        <li><a href="<%= links.article_link(title) %>" class="article_ref">$title</a></li>
        #end for
    </ul>
    #end if

    <p>
        You can also look at a list of <a class="category_ref" href="<%= links.category_list_link() %>">all the categories</a> in the wiki.
    </p>
    <p>
        By convention, any information relating to this category should go in
        <a class="article_ref" href="<%= links.category_page_link(self.getVar('category')) %>"><%=links.CATEGORY_PAGE_PREFIX%>$category</a>.
    </p>
#end def

