## Copyright (C) 2007 Alex Drummond <a.d.drummond@gmail.com>
##
## This program is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2
## of the License, or (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin Street, Fifth Floor,
## Boston, MA  02110-1301, USA.

#import urllib
#import my_utils
#import itertools
#import links
#import etc.config
#from templates.base import base

#extends base

#def title#Recent changes#end def#
#def np_preamble#Recent changes#end def#
#def np_postamble#:#end def#
#def np_empty#As of yet, no edits have been made to any articles in $FRONT_PAGE_TITLE.#end def#

#def body
    $next_and_prev_links($from_, $n, links.recent_changes_link)
    #if $max >= $from_
    <table class="history">
        <tr>
            <th>Date</th>
            <th>User</th>
            <th>Article title</th>
            <th>Comment</th>
        </tr>
        #for $c in $changes
        <tr>
            <td>
                <table class="date-diff-pair">
                    <tr>
                        <td>
                            <a class="article_ref"
                               href="<%= links.article_link(c['newest_article_title'], c['diff_revno_pair'][0]) %>">
                                $c.date
                            </a>
                        </td>
                        #if $c.diff_revno_pair[1] is not None
                        <td>
                             <a class="diff_ref" href="<%= links.diff_link(c['newest_article_title'], c['diff_revno_pair'][0], c['diff_revno_pair'][1]) %>">
                diff w/previous
                             </a>
                        </td>
                        #end if
                    </tr>
                </table>
            </td>
            <td><a href="<%= links.user_page_link(c['username']) %>" class="article_ref"><%= c['username'] %></a></td>
            <td>$c.article_title</td>
            <td><%= my_utils.truncate(etc.config.COMMENT_TRUNCATE_LENGTH, c['comment']) %></td>
        </tr>
        #end for#
    </table>
    #end if
#end def

