## Copyright (C) 2007 Alex Drummond <a.d.drummond@gmail.com>
##
## This program is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2
## of the License, or (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin Street, Fifth Floor,
## Boston, MA  02110-1301, USA.

#import urllib
#import my_utils
#import itertools
#import links
#from templates.base import base

#extends base

#def title#$username#end def#
#def np_preamble#Tracked changes#end def#
#def np_postamble#:#end def#
#def np_empty#None of your tracked articles have been changed recently.#end def#

#def body
    $next_and_prev_links($from_, $n, links.tracked_changes_link)

    #if $getVar('error', False)
    <p>
        $error
    </p>
    #elif $max >= $from_
    <table class="history">
        <tr>
            <th>Date</th>
            <th>User</th>
            <th>Article title</th>
            <th>Comment</th>
        </tr>
        #for $r in $revisions
        <tr>
            <td>
                <table class="date-diff-pair">
                    <tr>
                        <td>
                            <a class="article_ref" href="<%= links.article_link(r['article_title'], r['diff_revs_pair'][0]) %>">
                                $r.revision_date
                            </a>
                        </td>
                        #if r['diff_revs_pair'][1] is not None
                        <td>
                            <a class="diff_ref" href="<%= links.diff_link(r['article_title'], r['diff_revs_pair'][0], r['diff_revs_pair'][1]) %>">
                                diff w/previous
                            </a>
                        </td>
                        #end if
                    </tr>
                </table>
            </td>
            <td>
                <a class="article_ref" href="<%= links.user_page_link(r['username']) %>">$r.username</a>
            </td>
            <td>
                <a class="article_ref" href="<%= links.article_link(r['article_title']) %>">$r.article_title</a>
            </td>
            <td>
                $r.comment
            </td>
        </tr>
        #end for
    </table>
    #end if
#end def

